
.box {
    height: 100px;
    width: 100px;
    position: relative;
}

.row-container {
    display: flex;
    flex-direction: row;
}

.circle {
    height: 20px;
    width: 20px;
    border-radius: 50%;
    background-color: black;
    position: absolute;
}

.circle.top-left {
    left: -10px;
    top: -10px;
}

.circle.top-right {
    right: -10px;
    top: -10px;
}

.circle.bottom-left {
    left: -10px;
    bottom: -10px;
}

.circle.bottom-right {
    right: -10px;
    bottom: -10px;
}

/* 99 */
.box.t99 {
    border-top: 1px solid white;
}

.box.b99 {
    border-bottom: 1px solid white;
}

.box.l99 {
    border-left: 1px solid white;
}

.box.r99 {
    border-right: 1px solid white;
}


/* 0 */
.box.t0 {
    border-top: 1px solid black;
}

.box.b0 {
    border-bottom: 1px solid black;
}

.box.l0 {
    border-left: 1px solid black;
}

.box.r0 {
    border-right: 1px solid black;
}


/* 1 */
.box.t1 {
    border-top: 1px solid blue;
}

.box.b1 {
    border-bottom: 1px solid blue;
}

.box.l1 {
    border-left: 1px solid blue;
}

.box.r1 {
    border-right: 1px solid blue;
}

/* 2 */
.box.t2 {
    border-top: 2px solid blue;
}

.box.b2 {
    border-bottom: 2px solid blue;
}

.box.l2 {
    border-left: 2px solid blue;
}

.box.r2 {
    border-right: 2px solid blue;
}

/* ------------ */
/* -1 */
.box.t-1 {
    border-top: 1px solid red;
}

.box.b-1 {
    border-bottom: 1px solid red;
}

.box.l-1 {
    border-left: 1px solid red;
}

.box.r-1 {
    border-right: 1px solid red;
}

/* -2 */
.box.t-2 {
    border-top: 2px solid red;
}

.box.b-2 {
    border-bottom: 2px solid red;
}

.box.l-2 {
    border-left: 2px solid red;
}

.box.r-2 {
    border-right: 2px solid red;
}


/* BACKGROUND BOX*/
.bkg-white {
    background-color: white;
}

.bkg-blue {
    background-color: blue;
}

.bkg-red {
    background-color: red;
}

.circle-turn {
    height: 50px;
    width: 50px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 40px auto;
    color: white;
}